:root {
  --background: oklch(0.9195 0.0655 88.9829);
  --foreground: oklch(0.3242 0.0189 63.7285);
  --card: oklch(0.9407 0.0751 89.9024);
  --card-foreground: oklch(0.3242 0.0189 63.7285);
  --popover: oklch(0.9114 0.1024 87.1814);
  --popover-foreground: oklch(0.3242 0.0189 63.7285);
  --primary: oklch(0.414 0.0676 63.9833);
  --primary-foreground: oklch(0.9637 0.0416 87.3639);
  --secondary: oklch(0.3202 0.0572 150.2191);
  --secondary-foreground: oklch(0.9214 0.0914 87.4415);
  --muted: oklch(0.8018 0.0491 82.6475);
  --muted-foreground: oklch(0.462 0.0321 72.2978);
  --accent: oklch(0.9214 0.0914 87.4415);
  --accent-foreground: oklch(0.3242 0.0189 63.7285);
  --destructive: oklch(0.4667 0.1205 32.9445);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.5265 0.0647 64.8006);
  --input: oklch(0.7509 0.0573 84.9673);
  --ring: oklch(0.5265 0.0647 64.8006);
  --chart-1: oklch(0.5265 0.0647 64.8006);
  --chart-2: oklch(0.479 0.0519 68.2251);
  --chart-3: oklch(0.416 0.0479 73.1705);
  --chart-4: oklch(0.5838 0.068 64.2666);
  --chart-5: oklch(0.6321 0.0792 65.5619);
  --sidebar: oklch(0.8018 0.0491 82.6475);
  --sidebar-foreground: oklch(0.3242 0.0189 63.7285);
  --sidebar-primary: oklch(0.5265 0.0647 64.8006);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.7332 0.0681 88.8921);
  --sidebar-accent-foreground: oklch(0.3242 0.0189 63.7285);
  --sidebar-border: oklch(0.7509 0.0573 84.9673);
  --sidebar-ring: oklch(0.5265 0.0647 64.8006);
  --font-sans: Libre Baskerville, serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0rem;
  --shadow-x: 2px;
  --shadow-y: -1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.6;
  --shadow-color: #4a3924;
  --shadow-2xs: 2px -1px 3px 0px hsl(33.1579 34.5455% 21.5686% / 0.3);
  --shadow-xs: 2px -1px 3px 0px hsl(33.1579 34.5455% 21.5686% / 0.3);
  --shadow-sm:
    2px -1px 3px 0px hsl(33.1579 34.5455% 21.5686% / 0.6), 2px 1px 2px -1px
    hsl(33.1579 34.5455% 21.5686% / 0.6);
  --shadow:
    2px -1px 3px 0px hsl(33.1579 34.5455% 21.5686% / 0.6), 2px 1px 2px -1px
    hsl(33.1579 34.5455% 21.5686% / 0.6);
  --shadow-md:
    2px -1px 3px 0px hsl(33.1579 34.5455% 21.5686% / 0.6), 2px 2px 4px -1px
    hsl(33.1579 34.5455% 21.5686% / 0.6);
  --shadow-lg:
    2px -1px 3px 0px hsl(33.1579 34.5455% 21.5686% / 0.6), 2px 4px 6px -1px
    hsl(33.1579 34.5455% 21.5686% / 0.6);
  --shadow-xl:
    2px -1px 3px 0px hsl(33.1579 34.5455% 21.5686% / 0.6), 2px 8px 10px -1px
    hsl(33.1579 34.5455% 21.5686% / 0.6);
  --shadow-2xl: 2px -1px 3px 0px hsl(33.1579 34.5455% 21.5686% / 1.5);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2405 0.012 55.7477);
  --foreground: oklch(0.8018 0.0491 82.6475);
  --card: oklch(0.2817 0.0126 62.0956);
  --card-foreground: oklch(0.8018 0.0491 82.6475);
  --popover: oklch(0.2817 0.0126 62.0956);
  --popover-foreground: oklch(0.8018 0.0491 82.6475);
  --primary: oklch(0.6321 0.0792 65.5619);
  --primary-foreground: oklch(0.2405 0.012 55.7477);
  --secondary: oklch(0.3279 0.0144 54.0632);
  --secondary-foreground: oklch(0.8018 0.0491 82.6475);
  --muted: oklch(0.2561 0.0106 60.9866);
  --muted-foreground: oklch(0.6886 0.0377 81.1785);
  --accent: oklch(0.3598 0.0228 53.3857);
  --accent-foreground: oklch(0.8018 0.0491 82.6475);
  --destructive: oklch(0.4667 0.1205 32.9445);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3279 0.0144 54.0632);
  --input: oklch(0.3279 0.0144 54.0632);
  --ring: oklch(0.6321 0.0792 65.5619);
  --chart-1: oklch(0.6321 0.0792 65.5619);
  --chart-2: oklch(0.5838 0.068 64.2666);
  --chart-3: oklch(0.5265 0.0647 64.8006);
  --chart-4: oklch(0.479 0.0519 68.2251);
  --chart-5: oklch(0.416 0.0479 73.1705);
  --sidebar: oklch(0.2405 0.012 55.7477);
  --sidebar-foreground: oklch(0.8018 0.0491 82.6475);
  --sidebar-primary: oklch(0.6321 0.0792 65.5619);
  --sidebar-primary-foreground: oklch(0.2405 0.012 55.7477);
  --sidebar-accent: oklch(0.3598 0.0228 53.3857);
  --sidebar-accent-foreground: oklch(0.8018 0.0491 82.6475);
  --sidebar-border: oklch(0.3279 0.0144 54.0632);
  --sidebar-ring: oklch(0.6321 0.0792 65.5619);
  --font-sans: Libre Baskerville, serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0rem;
  --shadow-x: 1px;
  --shadow-y: -1px;
  --shadow-blur: 1px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.6;
  --shadow-color: #ab8055;
  --shadow-2xs: 2px -1px 3px 0px hsl(30 33.8583% 50.1961% / 0.3);
  --shadow-xs: 2px -1px 3px 0px hsl(30 33.8583% 50.1961% / 0.3);
  --shadow-sm:
    2px -1px 3px 0px hsl(30 33.8583% 50.1961% / 0.6), 2px 1px 2px -1px
    hsl(30 33.8583% 50.1961% / 0.6);
  --shadow:
    2px -1px 3px 0px hsl(30 33.8583% 50.1961% / 0.6), 2px 1px 2px -1px
    hsl(30 33.8583% 50.1961% / 0.6);
  --shadow-md:
    2px -1px 3px 0px hsl(30 33.8583% 50.1961% / 0.6), 2px 2px 4px -1px
    hsl(30 33.8583% 50.1961% / 0.6);
  --shadow-lg:
    2px -1px 3px 0px hsl(30 33.8583% 50.1961% / 0.6), 2px 4px 6px -1px
    hsl(30 33.8583% 50.1961% / 0.6);
  --shadow-xl:
    2px -1px 3px 0px hsl(30 33.8583% 50.1961% / 0.6), 2px 8px 10px -1px
    hsl(30 33.8583% 50.1961% / 0.6);
  --shadow-2xl: 2px -1px 3px 0px hsl(30 33.8583% 50.1961% / 1.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
